#!/bin/sh
# vim: set filetype=sh:
# shellcheck disable=SC2034

# ANSIBLE-MANAGED CONFIGURATION FILE
# Refs:
# --> https://cgit.freebsd.org/ports/tree/net/syncthing/files/syncthing.in?id=f26fa46f575d12242d48c139d214007798b631bc
# --> https://man.freebsd.org/cgi/man.cgi?query=daemon
# --> https://redbyte.eu/en/blog/supervised-freebsd-init-script-for-go-deamon/
# --> https://blog.insane.engineer/post/freebsd_daemonize/
# Purpose: provide a custom MPD service that executes as a normal user
#
# PROVIDE: mpd_user_svc
# REQUIRE: DAEMON
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf.local or /etc/rc.conf
# to enable this service:
#
# mpd_user_svc_enable (bool): Set to NO by default.
#                             Set it to YES to enable mpd_user_svc.
# mpd_user_svc_user (user):   Set user to run mpd_user_svc.
#                             Default is "mpd".
# mpd_user_svc_group (group): Set group to run mpd_user_svc.
#                             Default is "mpd".

# shellcheck source=/dev/null
. /etc/rc.subr

name='mpd_user_svc'
procname='/usr/local/bin/musicpd'
rcvar='mpd_user_svc_enable'

load_rc_config "${name}"
: "${mpd_user_svc_enable:="NO"}"
: "${mpd_user_svc_user:="mpd"}"
: "${mpd_user_svc_group=${mpd_user_svc_group:-$mpd_user_svc_user}}"

# note: mpd doesn't seem to find ~/.mpdconf when run with /usr/sbin/daemon
command='/usr/sbin/daemon'
user_conf_file="/home/${mpd_user_svc_user}/.config/mpd/mpd.conf"
command_args="--close-fds ${procname} ${user_conf_file}"
required_files="${user_conf_file}"

run_rc_command "${1}"

