# vim: set filetype=conf:
#
# ANSIBLE-MANAGED CONFIGURATION FILE
# Ref: https://github.com/MusicPlayerDaemon/MPD/blob/master/doc/mpdconf.example
#

# music directory that MPD will search, catalog, and play from
music_directory "{{ musicpd_music_dir }}"

# user playlists dir
playlist_directory "{{ musicpd_user_playlists_dir }}"

# MPD user music database file path
db_file "{{ musicpd_user_music_db_file_path }}"

# log MPD status and events to musicpd_user_log_file_path
# logging_level is 'notice', 'info', 'verbose', 'warning' or 'error'
{{ ('log_file "' + musicpd_user_log_file_path + '"') if musicpd_enable_logging else '# ...do not log' }}
log_level "{{ musicpd_logging_level }}"

# MPD user Process ID file path (used for mpd --kill and some init scripts)
{{ '# ...do not use PID file with systemd' if (ansible_system == "Linux") else ('pid_file "' + musicpd_user_pid_file_path + '"') }}

# MPD user state file path (to start MPD with last saved state)
state_file "{{ musicpd_user_state_file_path }}"

# MPD user sticker DB file path (to manage dynamic info attached to songs)
sticker_file "{{ musicpd_user_sticker_db_file_path }}"

# make MPD run as this user and group (i.e. change its user/group ID on init)
user "{{ musicpd_run_as_user }}"
group "{{ musicpd_run_as_group }}"

# on startup, immediately start playback
restore_paused "{{ 'no' if musicpd_start_playback_on_startup else 'yes' }}"

# save playlists with absolute paths usable by other music players
save_absolute_paths_in_playlists "{{ 'yes' if musicpd_save_absolute_paths_for_playlists else 'no' }}"

# tag types to extract during audio file discovery process
# see https://mpd.readthedocs.io/en/latest/protocol.html#tags
metadata_to_use "{{ musicpd_track_tag_list }}"

# detect changes in music_directory and automatically update the MPD music DB
auto_update "{{ 'yes' if musicpd_update_db_on_filesystem_changes else 'no' }}"

# publish service info with zeroconf/avahi
zeroconf_enabled "{{ 'yes' if musicpd_publish_service_with_avahi else 'no' }}"
# set published avahi server name (%h expands to hostname)
zeroconf_name "{{ musicpd_avahi_mpd_server_name }}"

# SOUND INPUT ##################################################################

input {
  plugin "curl"
}

# SOUND OUTPUT #################################################################

# send MPD output to this sound server
audio_output {
  type "{{ musicpd_audio_output_type }}"
  name "{{ musicpd_audio_output_name }}"
}

        # Normalization automatic volume adjustments ##################################
        #
        # This setting specifies the type of ReplayGain to use. This setting can have
        # the argument "off", "album", "track" or "auto". "auto" is a special mode that
        # chooses between "track" and "album" depending on the current state of
        # random playback. If random playback is enabled then "track" mode is used.
        # See <https://wiki.hydrogenaud.io/index.php?title=Replaygain> for
        # more details about ReplayGain.
        # This setting is off by default.
        #
        #replaygain     "album"
        #
        # This setting sets the pre-amp used for files that have ReplayGain tags. By
        # default this setting is disabled.
        #
        #replaygain_preamp    "0"
        #
        # This setting sets the pre-amp used for files that do NOT have ReplayGain tags.
        # By default this setting is disabled.
        #
        #replaygain_missing_preamp  "0"
        #
        # This setting enables or disables ReplayGain limiting.
        # MPD calculates actual amplification based on the ReplayGain tags
        # and replaygain_preamp / replaygain_missing_preamp setting.
        # If replaygain_limit is enabled MPD will never amplify audio signal
        # above its original level. If replaygain_limit is disabled such amplification
        # might occur. By default this setting is enabled.
        #
        #replaygain_limit   "yes"
        #
        # This setting enables on-the-fly normalization volume adjustment. This will
        # result in the volume of all playing audio to be adjusted so the output has
        # equal "loudness". This setting is disabled by default.
        #
        #volume_normalization   "no"
        #
        ###############################################################################

        # Character Encoding ##########################################################
        #
        # If file or directory names do not display correctly for your locale then you
        # may need to modify this setting.
        #
        #filesystem_charset   "UTF-8"
        #
        ###############################################################################
